@import "tailwindcss";

/* Leaflet Custom Marker & Pin Reset */
.custom-victim-pin,
.custom-police-pin,
.custom-haven-pin {
  background: transparent !important;
  border: none !important;
}

.leaflet-container {
  font-family: inherit;
  background-color: #09090b !important;
}

/* Custom Tactical Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 9999px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}
